.nav {
    grid-area: n;
    background-color: greenyellow;
    padding: 20px;
}

.item  {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
    text-decoration: none;
}